.container{
  display: flex;
  position: absolute;
  width:1500px;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: -1;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(247, 247, 247);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  
  /* Position the tooltip text - see examples below! */
  position:absolute;
  
  left:-50px;
  z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip .show {
  visibility: visible;
  width: 500px;
  padding:5px;
  }